.card{
    height:65vh;
    margin:25px;
    padding:25px;
}
.center{
    position:absolute;
    top:27%;
    right:43%;
    text-align: center;
    // transform:translate(-50%,-50%)
}
.center img{
    width:350px
}