


<ng-container *ngIf="product.length!=0">
    <div class="card">
<table>
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Product Name</th>
            <th>Product Image</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of product; let i=index">
            <td>{{i+1}}</td>
            <td>{{item.title}}</td>
            <td>{{item.image}}e</td>
            <td>{{item.description}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.total}}</td>
            <td>
                <button (click)="removeItem(item)" class="btn btn-danger">
                <i class="fas fa-trash"></i>
            </button>
            </td>
        </tr>
    </tbody>
</table>
</div>
</ng-container>


<ng-container *ngIf="product.length==0">
<div class="container">
    <div class="card">
        <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/confusing-woman-due-to-empty-cart-4558760-3780056.png" alt="" >
        <h4>Your cart is empty</h4>
        <h6>Add Item to it now</h6>
        <button class="btn btn-primary" routerLink="/products">Shop Now</button>
    </div>
</div>
</ng-container>