.card-top{
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background:rgb(240, 236, 236);
    background-clip: border-box;
    border: 1px solid brown;
    // border-radius: 10px;
}
.item img{
    width:80px;
    height:80px
}
.item{
    margin: 0px 20px;
    text-align: center;
    padding-top: 20px;
    // align-items: center;
}
.item a:hover{
    color: rgb(179, 152, 179);
}
.card img{
    width:200px;
    height:200px;
    transition: 0.3s ease-in-out;
}
.card img:hover{
    transition: 0.3s ease-in-out;
    transform:scale(1.1)
}